#grid-container {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 10px;
}

#cuadrito {
    background-color: #e0c2c2;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    ". foto ."
    "cita cita cita"
    "enlace enlace enlace"
    ". . .";
    gap: 10px;

}

#titulo {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    grid-area: titulo;
    color: #1e0653;
    text-align: center;
}

#foto {
    grid-area: foto;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

img {
    width: inherit;
    height: inherit;
}
#cita {
    color: #011325;
    grid-area: cita;
    font-size: 25px;
    font-family: 'Courier Prime', Courier, monospace;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#enlace {
    color: #175898;
    grid-area: enlace;
    text-align: center;
}

a:link {
    text-decoration-line: none;
    color: #175898;
}

a:visited {
    color: #002718
}

a:active {
    color: #98173e;
}